baselines==0.1.5
setuptools==38.5.2
seaborn==0.8.1
matplotlib==2.1.0
gym==0.7.4
keras_rl==0.4.0
tensorflow==1.4.1
numpy==1.14.2
diskcache==3.0.1
Keras==2.1.4
pandas==0.22.0
python_dateutil==2.7.2
rl==2.4
scikit_learn==0.19.1
